@import "tailwindcss";

:root {
  --color-purple: #750DBE;
  --color-gray: #878484;
  --color-gray-header: #BEB1B1;
}

.btn-purple-active {
  box-shadow: 0 4px 10.6px 0 rgba(117, 13, 190, 0.5);
}

.btn-white-active {
  box-shadow: 0 4px 10.6px 0 rgba(255, 255, 255, 0.5);
}

@theme inline {

  --color-purple: var(--color-purple);
  --color-gray: var(--color-gray);
  --color-gray-header: var(--color-gray-header);
}

.header-blur {
  background: rgba(242, 242, 242, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
}